<% content_for :header do %>
  <%= GMap.header %>
<% end %>

<% content_for :sidebar do %>
  <h3>Last 5 Updates</h3>
  <ul>
    <%- @pings[0..4].reverse.each do |p| -%>
      <li>
        <h4><%= time_ago_in_words(p.when_timestamp).capitalize %> ago:</h4>
        <div class="location"><%= "%.2f" % distance_between(p.latitude, p.longitude, @trip.destination_latitude, @trip.destination_longitude) %> miles left</div>
        <%= p.message %>
      </li>
    <%- end -%>
  </ul>
<% end %>

<% content_for :footer do %>
  <h3><%= @trip.name %></h3>
  <p><%= @trip.description %></p>
<% end %>

<h1><%= @trip.name %></h1>

<p>
  <%= @map.to_html %>
  <%= @map.div(:width => 490, :height => 400) %>
</p>
