<% content_for :header do %>
  <%= GMap.header %>
<% end %>

<% content_for :sidebar do %>
  <h3>Last 5 Updates</h3>
  <ul>
    <%- @pings[0..5].each do |p| -%>
      <li><em>At <%= p.when_timestamp %>:</em> <%= p.message %></li>
    <%- end -%>
  </ul>
<% end %>

<% content_for :footer do %>
  <h3><%= @trip.name %></h3>
  <p><%= @trip.description %></p>
<% end %>

<h1><%= @trip.name %></h1>

<p>
  <%= @map.to_html %>
  <%= @map.div(:width => 490, :height => 400) %>
</p>
